@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
}

body{
    font-family: 'Popins', sans-serif;
    margin: 0;
    background-color: #22254b;
}

.movie{
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    background-color: #373b69;
    width: 300px;
    margin: 2.4rem;
    overflow: hidden;
    position: relative;
}

.movie img{
    width: 100%; 
}

.movie-info{
    color: rgb(180, 177, 177);
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
}
.movie-info h3{
    margin: 0;
}

.movie-info span{
    background-color: #22254b;
    padding: 0.25rem 0.5rem;
    border: 3px;
    font-weight: bold;
}

.movie-info span .green{
    background-color: rgb(39, 182, 39);
}
.movie-info span .orange{
    background-color: orange;
}
.movie-info span .red{
    background-color: red;
}
main {
    display: flex;
    flex-wrap: wrap;
}
header{
    background-color: #373b69;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}
.search{
    background-color: transparent;
    border: 2px solid #22254b;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-family: inherit;
    color: white;
}
.search::placeholder{
    color: #7378c5;
}
.search:focus{
    background-color: #22254b;
    outline: none;
}
.overview{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    padding: 2rem;
    transform: translateY(100%);
    transition: transform 0.3s ease-in;
    max-height: 100%;
    overflow: auto;
}
.movie:hover .overview{
    transform:translateY(0);

}
.overview h4{
    margin-top: 0;
}
